export APP_ROOT=$(pwd)
export PATH=$APP_ROOT/bin:$PATH

export DOCKER_WRAPPER_IMAGE_flight=getto/flight:0.0.0-pre11

export DOCKER_WRAPPER_SERVER_OPTS_flight="-p ${LABO_PORT_PREFIX}80:80 -v /var/run/docker.sock:/var/run/docker.sock"

export DOCKER_WRAPPER_LOGS_TARGET=flt
